
#first {   /* outer box */
  width: 33%;
  height: 100px;
  background: red;
  position: relative;
}
#first #second {  /* inner box */
  width: 34%;
  height: 20%;
  background: green;
  position: absolute;
  top: 10%;
  right: -17%;
  transform: translate(-50%, -50%);
}

